.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.validationIcon {
  font-size: 1.5rem;
}

.loadingIcon {
  max-height: 36px; 
  max-width: 36px;
}

.loadingRow {
  width: 100px;
}

.loadingRowIcon {
  max-height: 72px; 
  max-width: 72px;
}

.toolBarIcon {
  height: 1.5em !important; 
  width: 1.5em !important;
}

.roundedButton {
  border-radius: 50% !important;
}

.card {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

.nav-bar-text > a {
  color: rgb(255,255,255) !important;
}

.nav-bar-bg {
  background-color: rgb(13, 8, 79) !important;  
}

.search-input {
  display: inline-block !important;  
  max-width: 90% !important;  
}

.clickable {
  cursor: pointer;
}